<ion-header>
  <ion-toolbar>
    <ion-title>高值列表</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item ion-button *ngFor="let point of hotPoints">
            <ion-text >
                <p>时间:{{point.properties.time | date:'HH:mm:ss'}}</p>
                <p>高点值:{{point.properties.pm10 }}</p>
                <p>位置:[{{point.properties.lng}},{{point.properties.lat}}]</p>
                <p *ngIf="!!point.properties.regeocode">
                    地点:{{point.properties.regeocode.formatted_address}}
                </p>
            </ion-text>
        </ion-item>
    </ion-list>
</ion-content>
