<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>菜单</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>选择设备</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>图例设置</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="heart" slot="start"></ion-icon>
        <ion-label>历史走航</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>显示图例</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trash" slot="start"></ion-icon>
        <ion-label>周边环境点</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>风场</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>浓度场</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="warning" slot="start"></ion-icon>
        <ion-label>插值</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        车载传感器走航
      </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" id="main-content">
    <div style="width: 100%;height: 100%;background-color: #8c8c8c;position: relative;" #mapView>
      <div style="position: absolute;right: 5px;top: 5px;z-index: 999">
        <ion-button size="small" color="dark"  expand="full" href="/track-historia">历史</ion-button>
        <ion-button size="small" color="dark"  expand="full" (click)="presentPollutions()">污染物</ion-button>
        <ion-button size="small" color="dark"  expand="full" (click)="presentDeviceList()">设备</ion-button>
        <ion-button size="small" color="dark"  expand="full">底图</ion-button>
        <ion-button size="small" color="dark"  expand="full">图例</ion-button>
      </div>
    </div>
    <app-realtime-task style="position: absolute;right: 15px;bottom: 50px;" [deviceId]="deviceId" (onRealtimeDataChange)="onRealtimeDataChange($event)" (onRealtimeTaskLoaded)="onRealtimeTaskLoaded($event)"></app-realtime-task>
<!--    <ion-fab vertical="bottom" horizontal="end" slot="fixed">-->
<!--      <ion-fab-button>-->
<!--        启动-->
<!--      </ion-fab-button>-->
<!--    </ion-fab>-->
  </ion-content>
<ion-footer>
<!--  <ion-toolbar>-->
<!--    <ion-title> <ion-text>{{footerMessage}}</ion-text></ion-title>-->
<!--  </ion-toolbar>-->
    <div style="padding: 5px;">
      <ion-text>{{footerMessage}}</ion-text>
    </div>
</ion-footer>

